.About{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem ;
    margin-bottom: 2rem;
}

.About-content h3{
    margin: 2rem 0;
    font-size: 50px;
}

.About-content p{
    font-size: 20px;
    line-height: 30px;
}
@media screen and (max-width:960px) {
    .About{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 4rem ;
        margin-bottom: 2rem;
    }

    .About-content h3{
        margin: 2rem 0;
        font-size: 30px;
    }

    .About-content p{
        font-size: 20px;
        line-height: 30px;
    }
}