.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.hero .hero-title {
  text-align: left;
  margin: 15rem 0;
  font-size: 50px;
}
.hero .hero-title .hand-wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hero .hero-title h4 strong {
  color: #cd5ff8;
}

.hero .hero-title .text {
  margin-top: 2rem;
}

@media screen and (max-width:960px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
  }

  .hero-img{
    padding-left:50%;
  }

  .hero .hero-title {
    text-align: left;
    font-size: 40px;
    width: 256px;
  }

  .hero .hero-title .text{
    font-size: 30px;
  }
}
