.download-resume{
    width: 100%;
    text-align: center;
}

.download-btn{
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #623686;
}

.download-btn a{
    color: #fff;
    font-size: larger;
}

.download-btn:hover{
    background-color: #007bffa4;
}

.Resume-Container{
    margin-top: 30px;
    width: 100%;
}
.Resume-Container .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;

}

#title h2{
    font-family: helvetica;
    color: #11a372;
    text-align: center;
    padding-bottom: 30px;

}

#content{
    padding: 0px 30px ;
    border-left: 2px solid #bababa;

}

#content .box{
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background: #ffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}

#content .box:hover{
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;

}

#content .box::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: -41px;
    top: 0;
    background-color: #11a372;
    border: 2px solid white;

}
.box h4{
    position: relative;
    color: #11a372;
}

.box h3{
    font-size: 20px;
    padding: 10px 0 6px ;
    font-family: Helvetica;
    color: #444;

}
.box p{
    line-height: 1.2;
    color: #666;
    font-size: 17px;

}


@media screen and (max-width:960px) {
    .Resume-Container .row{
        grid-template-columns: 1fr;
    }

    .row .col:nth-child(2){
        margin-top: 30px;

    }
    .download-btn{
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
        border: none;
        background-color: #623686;
        margin: 0 5rem;
    }
}