

*{
    font-family: 'Outfit',sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #f8f5f5;
}

h1,h2,h3,h4,h5,p,a{
    color: #242424;
    text-decoration: none;
}